main{
    width: 100%;
    min-height: 500px;
    font-family: Arial;
}

.card_company{
    margin: 50px auto ;
    width: 80%;
    background-color:white;
    border-bottom: 1px solid #D0D0D0;
    border-radius: 0;
}

.logo_catd{
    height: 100%;
}

.imgLogo{
    width: 73%;
    height: 73%;
    border: 1px solid black;
    border-radius: 50%;
    background: white;
}

.desc_comp li{
    margin-bottom: 25px;
}



.participents{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 18px;
    margin-top: -36px;
    margin-left: 142px;
    position: absolute;
    text-align: center;
    padding-top: 2.5%;
}


.partic2{
    color: white;
    background-color: rgb(3, 20, 77);
    font-size: 13px;
}

.report{
    font-size: 13px;
    color: white;
    background-color: rgb(3, 20, 77);
}

.myBtn li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.myBtn2{
    margin-top: 161px;
}

.card_title{
    font-size: 24px;
    color:#081018;
}

.desc_exc{
    font-size: 18px;
}

@media (max-width: 750px) {
    .partic2{
        font-size: 14px;
    }

   .myBtn2{
       margin-top: 20px;
   }
   .report{
       font-size: 14px;
   }


}

/*STYLES FOR MANAGER COMPANY CARD #############################################################################*/
.company-logo-manager img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.create-event-manager{
    margin-top: 15%;
}

.create-event-manager .btn{
    background: #202349;
    border: none;
}

.desc-list-company li {
    margin-bottom: 14px;
}

.desc-list-company p{
    font-size: 23px;
    color: #717171;
}

.desc-list-company i{
    font-size: 30px;
    color: black;
    margin-right: 15px;
}

.desc-list-company h2 {
    color: #717171;
}

.btn-event{
    margin-top: 65%;
    background: #202349;
    border: none;
}

/*########################*/

.imgLogo{
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}