.company {
	margin: auto;
}

.title-text  {
	    margin: 3% 0 2% 0;
    	font-size: 180%;
    	text-align: center;

}

.company .title-text span {
        color: #666666;
}

.card {
	width: 200px;
	height: 200px;
	overflow:hidden;
    border: none;
    margin-left: 13%;
}

.avatar-company {
	display: flex;
	margin-bottom: 3%;
}

#add {
	width: 35px;
	height: 29px;
	background-color: #202349;
	border: none;
	display: block;
	margin: 70px 0 0 54px;
	padding: 4px;
}

.choose-file {
    opacity: 0;
    margin: -18px;
    font-size: 8px;
}

#add img {
	width: 45%;
	height: 60%;
	margin-bottom: 7px;
}

.form-group  {
	padding: 1%;
	margin-left: 13%;
	width: 90%;
}

.lable-text {
	color: #666666;
	font-size: 120%;
}

.form-control {
	background-color: #fcfbfa;
	margin-left: 38px;
}

.form-group .form-control {
	box-shadow: none;
}

.input-user {
    margin-left: 38px;
    background-color: #fcfbfa;
}

#btn-create {
	background-color: #202349;
	margin-left: 38px;
	border-color: #ced4da;
}